.input {
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: 2px solid #7b888e;
  transition: all ease 0.3s;
  outline: none;

  &:hover {
    background-color: #dedede;
  }

  &:focus-visible {
    background-color: #dedede;
  }

  &[data-valid="false"]{
  border: 2px solid red;

  }
}
